<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikepenz.materialdrawer.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER" />
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.clt.ledmanager.app.CustomApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:supportsRtl="true" -->
        <activity
            android:name="com.clt.ledmanager.app.AdvancedActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 节目上传 -->
        <activity android:name="com.clt.ledmanager.app.UploadProgramActivity" />
        <activity
            android:name="com.clt.ledmanager.app.MyTabActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 选择上传节目页面 -->
        <activity
            android:name="com.clt.ledmanager.app.FilesViewActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />

        <!-- 选择终端页 -->
        <activity
            android:name="com.clt.ledmanager.app.LedSelectActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.clt.ledmanager.app.ScreenShotActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.clt.ledmanager.app.InfoActivity" />

        <service android:name="com.clt.ledmanager.service.NetService" />

        <activity android:name="com.clt.ledmanager.app.TerminalScannActivity" />
        <activity android:name="com.clt.ledmanager.app.TerminalmanualActivity" />
        <activity android:name="com.clt.ledmanager.app.TerminalrefreshActivity" />
        <activity
            android:name="com.clt.ledmanager.app.SelectListActivity"
            android:theme="@style/MaterialDrawerTheme.Light.DarkToolbar.TranslucentStatus" />
        <activity android:name="com.clt.ledmanager.app.utils.DetectSenderCard" >
        </activity>
    </application>

</manifest>
